hr {
  border-width: 2px;
  border-color: #E0354B;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.App-header {
  display: flex;
  box-sizing: border-box;
  padding: 28px;
}

.App-header img {
  max-height: 150px;
}

.App-header p {
  color: #E0354B;
  font-size: 40px;
  font-weight: 900;
}


.App-body {
  min-height: 50vh;
  padding: 50px;
  font-size: 15px;
  font-weight: 700;
}

.App-footer {
  text-align: center;
  font-style: italic;
  font-weight: 500;
  padding: 28px;
}